<form role="form">
    <div class="card-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control" id="ID" placeholder="ID">
        </div>
        <div class="form-group">
            <label for="NOME">NOME</label>
            <input type="text" class="form-control" id="NOME" placeholder="NOME">
        </div>
        <div class="form-group">
            <label for="COGNOME">COGNOME</label>
            <input type="email" class="form-control" id="COGNOME" placeholder="COGNOME">
        </div>
        <div class="form-group">
            <label for="NUMERO CELL">CELL</label>
            <input type="number" class="form-control" id="CELL" placeholder="NUMERO CELL">
        </div>
        <div class="form-group">
            <label for="INDIRIZZO">INDIRIZZO</label>
            <input type="text" class="form-control" id="INDIRIZZO" placeholder="INDIRIZZO">
        </div>
        <div class="form-group">
            <label for="PROFESSIONE">PROFESSIONE</label>
            <input type="text" class="form-control" id="PROFESSIONE" placeholder="PROFESSIONE">
        </div>
        <button type="button" class="btn btn-block btn-outline-primary">invia</button>
    </div>